RewriteEngine On
Options -Indexes

# Se acessar a raiz, vai para 
DirectoryIndex index.html

# Se quiser forçar tudo cair no index do public
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]